<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganning_dead_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,206},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{32,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ganning_dead_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ganning_dead_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{30,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ganning_dead_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,172},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,138},{32,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,172},{32,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,206},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{32,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{30,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,70},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,36},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{32,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,138},{32,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mengmei_move_40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,186},{32,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mengmei.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df2cd75dbf401ef2277990c2fcd9b6cf$</string>
            <key>textureFileName</key>
            <string>mengmei.png</string>
        </dict>
    </dict>
</plist>
