<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,990},{26,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{26,64}</string>
            </dict>
            <key>5004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{257,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,413}}</string>
                <key>sourceSize</key>
                <string>{257,413}</string>
            </dict>
            <key>5004_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{257,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,416}}</string>
                <key>sourceSize</key>
                <string>{257,416}</string>
            </dict>
            <key>5004_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{257,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,418}}</string>
                <key>sourceSize</key>
                <string>{257,418}</string>
            </dict>
            <key>5004_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,419}}</string>
                <key>sourceSize</key>
                <string>{257,419}</string>
            </dict>
            <key>5004_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,843},{231,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,145}}</string>
                <key>sourceSize</key>
                <string>{231,145}</string>
            </dict>
            <key>5004_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{166,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,79}}</string>
                <key>sourceSize</key>
                <string>{166,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5004.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aefb509eab825bd2a9a83a64c7a5278$</string>
            <key>textureFileName</key>
            <string>5004.png</string>
        </dict>
    </dict>
</plist>
